<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <section name="AppSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<appSettings>
		<!-- Credenciales de acceso para el SFTP -->
		<add key="HostSftp" value="187.174.159.87"/>
		<add key="PortSftp" value="61122"/>
		<add key="UserSftp" value="t01061"/>
		<add key="PasswordSftp" value="7289alpo"/>
		<add key="SftpFilePathIn" value="/in/"/>
		<add key="SftpFileUploadOut" value="/out/"/>
		<add key="SftpFileUploadResp" value="/resp/"/>
		<!-- Credenciales de acceso para el FTP -->
		<add key="HostFtp" value="192.168.90.12"/>
		<add key="UserFtp" value="t01061"/>
		<add key="PasswordFtp" value="7289alpo"/>
		<add key="FtpUploadPathIn" value="/in/"/>
		<add key="FtpFilePathResp" value="/resp/"/>
		<add key="FtpFilePathOut" value="/out/"/>
		<add key="UriResp" value="ftp://t01061@192.168.90.12/resp/"/>
		<add key="UriOut" value="ftp://t01061@192.168.90.12/out/"/>
		<!-- Validar para eliminar los archivos despues de descargados (true = si),(false = no)-->
		<add key="EliminarProceso1" value="false"/> <!-- Proceso SFTP a FTP carpeta in-->
		<add key="EliminarProceso2" value="false"/> <!-- Proceso FTP a SFTP carpeta resp-->
		<add key="EliminarProceso3" value="false"/> <!-- Proceso FTP a SFTP carpeta out-->
		<!-- Proceso SFTP a FTP carpeta in (Si solo desea colocar uno de los 2 (horas o minutos)
		dejar en 0 el otro valor -->
		<add key="HorasProceso1" value="0"/> 
		<add key="MinutosProceso1" value="0"/> 
		<!-- Proceso FTP a SFTP carpeta resp (Si solo desea colocar uno de los 2 (horas o minutos)
		dejar en 0 el otro valor -->
		<add key="HorasProceso2" value="0"/>
		<add key="MinutosProceso2" value="0"/>
		<!-- Proceso FTP a SFTP carpeta out (Si solo desea colocar uno de los 2 (horas o minutos) -->
		<add key="HorasProceso3" value="0"/> 
		<add key="MinutosProceso3" value="0"/>
		<!-- Extension de archivos para buscar (.txt, .DAT, .CVS, etc) 
		si no se coloca una extension, descagara y subira todos los archivos existentes -->
		<add key="ExtensionProceso1" value=""/>
		<add key="ExtensionProceso2" value=""/>
		<add key="ExtensionProceso3" value=""/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	
</configuration>
